Django==1.6.2
Fabric==1.8.1
dj-database-url==0.3.0
dj-static==0.0.6
django-php==0.1
django-toolbelt==0.0.1
ecdsa==0.10
gunicorn==19.1.1
paramiko==1.12.1
psycopg2==2.5.4
pycrypto==2.6.1
requests==2.4.3
requirements==0.1
static3==0.5.1
stevedore==0.14.1
virtualenv==1.11.2
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
