{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <div class="static-bg about-bg">
        </div>
    </div>
    <div class="canvas-wrap">
        <div class="row fixed-top std-header">
            <div class="container pos-rel">
                <div class="home-wrecka main">
                    <a href="/index"></a>
                </div>
                <ul class="header">
                    <li><a class="1" href="/about">About</a></li>
                    <li><a class="2" href="/menu">Menus</a></li>
                    <li><a class="3" href="/events">Events</a></li>
                    <li><a class="4" href="/reservations">Reservations</a></li>
                    <li><a class="5" href="/giftcards">Gift Cards</a></li>
                    <li><a class="6" href="/gallery" class="selected">Gallery</a></li>
                    <li><a class="7" href="/contact">Contact</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation"></a></li>
                    <!-- <li><a class="instagram" href="#"></a></li> -->
                </ul>
            </div>
        </div>
        <div id="about" class="to-front">
            <div class="row top-row-space section-title first">
                <div class="container">
                    <div class="col-md-5">
                        <h2 class="about-bump">Who We Are</h2>
                    </div>
                    <div class="col-md-7">
                        <hr class="about"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black mobile-bottom">
                <div class="container menu-list">
                    <div class="col-md-12">
                        <h3 class="first ts-20">History of OES</h3>
                        <hr></hr>
                        <ul>

                            <li>
                                <p class="about first">The Oregon Electric Railway was originally designed by A. E. Doyle and opened the doors in 1914 as the final stop of the electric railway, connecting people throughout the Willamette Valley. Local newspaper headlines declared it to be "the greatest day in the history of Eugene."</p>
                            </li>
                            <li>
                                <p class="about">Today, this same building has been restored as the new Oregon Electric Station Restaurant and it remains as busy today as it was when the station was built. Over the last 100 years the building was listed on the National Historic Register and has become a landmark of social significance that has a union of historic value and incredible dining experiences.</p>
                            </li>
                            <li>
                                <p class="about">The restaurant, popular for years, has reopened in a revitalized space with new owners whotook care to honor and respect the history of the building, while bringing guests together as they explore local and international cuisine.</p>
                            </li>
                            <li>
                                <p class="about">The new partnership that owns and runs the Oregon Electric Station Restaurant brings nearly a century of restaurant knowledge gathered from establishments that span the globe.  Our menus are globally inspired and artistically crafted, striving to use organic, sustainable and locally sourced ingredients. Representing the rich history of Eugene as well as its surrounding fertile lands, Oregon Electric Station is committed and dedicated to quality of product, ambience, and hospitality.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="quad-img" class="row bg-trans-black quadder"> 
                <div class="container">     
                    <div class="col-md-3">
                        <img src="../static/images/oes-quad-oldstation.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="../static/images/oes-quad-ogcouple.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="../static/images/oes-quad-middle-train.png" />
                    </div>
                    <div class="col-md-3">
                        <img src="../static/images/oes-quad-office.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".header li a").removeClass("selected");
        $(".header li a.1").addClass("selected");
    </script>
{% endblock %}
