<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Oregon Electric Station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="oregon electric station, eugene fine dining, eugene dining" />
        <meta name="author" content="Oregon Electric Station" />
        <link rel="shortcut icon" href="favicon.ico"> 
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/bigvideo.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <script src="js/parallax.js"></script>
        <!-- BigVideo Dependencies -->
        <script src="js/modernizr-2.5.3.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.8.1.min.js"><\/script>')</script>
        <script src="js/jquery-ui-1.8.22.custom.min.js"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <script src="js/bigvideo.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-56396502-1', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body>
        <div class="mobile-nav">
            <a href="#" class="nav-icon">
            </a>
        </div>
        <div class="sidebar-nav">
            <div class="home-wrecka">
                <a href="index.html"></a>
            </div>
            <ul>
                <li><a href="about.html" class="selected">About</a></li>
                <li><a href="menu.html">Menus</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="reservations.html">Reservations</a></li>
                <li><a href="giftcards.html">Gift Cards</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="facebook"><a href="https://www.facebook.com/OregonElectricStation" target="_blank"></a></li>
                <!-- <li class="instagram"><a href="#"></a></li> -->
            </ul>
        </div>
        <div class="wrapper">
            <div class="static-bg about-bg">
            </div>
        </div>
        <div class="canvas-wrap">
            <div class="row fixed-top std-header">
                <div class="container pos-rel">
                    <div class="home-wrecka main">
                        <a href="index.html"></a>
                    </div>
                    <ul class="header">
                        <li><a href="about.html" class="selected">About</a></li>
                        <li><a href="menu.html">Menus</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="reservations.html">Reservations</a></li>
                        <li><a href="giftcards.html">Gift Cards</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation" target="_blank"></a></li>
                        <!-- <li><a class="instagram" href="#"></a></li> -->
                    </ul>
                </div>
            </div>
            <div id="about" class="to-front">
                <div class="row top-row-space section-title first">
                    <div class="container">
                        <div class="col-md-5">
                            <h2 class="about-bump">Who We Are</h2>
                        </div>
                        <div class="col-md-7">
                            <hr class="about"></hr>
                        </div>
                    </div>
                </div>
                <div class="row bg-trans-black mobile-bottom">
                    <div class="container menu-list">
                        <div class="col-md-12">
                            <h3 class="first">History of OES</h3>
                            <hr></hr>
                            <ul>

                                <li>
                                    <p class="about first">The Oregon Electric Railway was originally designed by A. E. Doyle and opened the doors in 1914 as the final stop of the electric railway, connecting people throughout the Willamette Valley. Local newspaper headlines declared it to be "the greatest day in the history of Eugene."</p>
                                </li>
                                <li>
                                    <p class="about">Today, this same building has been restored as the new Oregon Electric Station Restaurant and it remains as busy today as it was when the station was built. Over the last 100 years the building was listed on the National Historic Register and has become a landmark of social significance that has a union of historic value and incredible dining experiences.</p>
                                </li>
                                <li>
                                    <p class="about">The restaurant, popular for years, has reopened in a revitalized space with new owners whotook care to honor and respect the history of the building, while bringing guests together as they explore local and international cuisine.</p>
                                </li>
                                <li>
                                    <p class="about">The new partnership that owns and runs the Oregon Electric Station Restaurant brings nearly a century of restaurant knowledge gathered from establishments that span the globe.  Our menus are globally inspired and artistically crafted, striving to use organic, sustainable and locally sourced ingredients. Representing the rich history of Eugene as well as its surrounding fertile lands, Oregon Electric Station is committed and dedicated to quality of product, ambience, and hospitality.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="quad-img" class="row bg-trans-black quadder"> 
                    <div class="container">     
                        <div class="col-md-3">
                            <img src="images/oes-quad-oldstation.png" />
                        </div>
                        <div class="col-md-3">
                            <img src="images/oes-quad-ogcouple.png" />
                        </div>
                        <div class="col-md-3">
                            <img src="images/oes-quad-middle-train.png" />
                        </div>
                        <div class="col-md-3">
                            <img src="images/oes-quad-office.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="js/oes.js"></script>
    </body>
</html>