



<!-- BEGIN COPY/PASTE HERE FOR STANDARD HOME PAGE (WITHOUT ADVERTISEMENT) -->
        <div class="row to-front">
            <div class="container">
                <div class="bi-line">
                    <div class="mobile-home-logo">
                    </div>
                    <h2 class="first">Locally Sourced,</h2>
                    <h2 class="second">Globally Inspired</h2>
                </div>
            </div>
        </div>
<!-- END STANDARD HOME PAGE CONTENT COPY/PASTE SECTION -->





<!-- BEGIN COPY/PASTE HERE FOR NEW YEARS ADVERTISEMENT -->
        <div class="row top-row-space section-title home first">
            <div class="container">
                <div class="col-md-9">
                    <h2>Announcing OES’s New Bar Menu & Daily Happy Hour!</h2>
                </div>
            </div>
        </div>
        <div class="row bg-trans-black spacer-bot mobile-bottom">
            <div class="container menu-list">
                <div class="ul-leaf">
                </div>
                <!-- <div class="ur-leaf">
                </div> -->
                <div class="col-md-6 to-fronter">
                    <h3 class="first">New Years Eve</h3>
                    <hr></hr>
                    <ul>
                        <li class="rp-50">
                            <p class="about">Starting January 19th, we are introducing a new bar menu, which includes many new and delicious Tapas! Check out the new bar menu online.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 class="first">Join us for our daily Happy Hour in the bar from 4:00 - 6:00 pm & 9:00 pm - Close daily.  Bring a friend, or two, or three and stop by after work or later on to enjoy the nightlife at OES.</h3>
                </div>
            </div>
        </div>
<!-- END NEW YEARS ADVERTISEMENT COPY SECTION -->









<!--BEGIN COPY/PASTE HERE IF YOU WOULD LIKE THANKSGIVING ADVERTISEMENT TO BE DISPLAYED ON HOME PAGE-->
        <div class="row top-row-space section-title home first">
                <div class="container">
                    <div class="col-md-9">
                        <h2>Family Thanksgiving at OES</h2>
                    </div>
                    <div class="col-md-3 align-right tday">
                        <p class="days mobile-first">Thursday</p>
                        <p>November 27<span>th</span></p>
                        <hr class="turkeyday"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black spacer-bot mobile-bottom">
                <div class="container menu-list">
                    <div class="ul-leaf">
                    </div>
                    <div class="ur-leaf">
                    </div>
                    <div class="col-md-6 to-fronter">
                        <h3 class="first">Details</h3>
                        <hr></hr>
                        <ul>
                            <li class="rp-50">
                                <p class="about first">Families can hang-up their aprons and leave the grocery list behind for an effortless traditional Thanksgiving dinner at Oregon Electric Station, featuring quintessential fall fixings at an amazing value. Held in our recently renovated restaurant, the buffet dinner is perfect for large families and groups.</p>
                                <p class="about tprice">Adults - $35&nbsp&nbsp&nbsp&nbspChildren - $20<span> &nbsp(12 and under)</span></p>
                            </li>
                        </ul>
                        <h3 class="cl">Reservation Times</h3>
                        <hr></hr>
                        <ul class="res-times">
                            <li>
                                <p>1:00 pm - 7:00 pm</p>
                                <p>Call for Reservations</p>
                                <p><a class="contact-menu tele" href="tel:+15414854444">(541) 485-4444</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="first">Meal</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <p class="about first">Our grand Thanksgiving feast includes traditional roast turkey with all the trimmings plus turkey gravy, our famous carved prime rib with aujou, roast salmon with dijon dill cream sauce, veal stuffed ravioli in a creamy wild mushroom sauce, and butternut squash ravioli with butter sage.</p>
                                <p class="about">In addition to these delectable dishes we will have savory sausage and sage stuffing, homemade cranberry sauce, sweet potato with marshmallows and maple syrup, fluffy mashed potatoes, gratin potatoes, a vegetable medley of brussels sprouts, string beans, and baby carrots, caesar salad and garden salad with balsamic dressing, eggplant parmigiana, and caprese.</p>
                                <p class="about">For dessert there will be fresh pumpkin and apple pie.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-- END THANKSGIVING ADVERTISEMENT COPY SECTION-->