{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <div class="static-bg contact">
        </div>
    </div>
    <div class="canvas-wrap">
        <div class="row fixed-top std-header">
            <div class="container pos-rel">
                <div class="home-wrecka main">
                    <a href="/index"></a>
                </div>
                <ul class="header">
                    <li><a class="1" href="/about">About</a></li>
                    <li><a class="2" href="/menu">Menus</a></li>
                    <li><a class="3" href="/events">Rooms</a></li>
                    <li><a class="4" href="/reservations">Reservations</a></li>
                    <li><a class="5" href="/giftcards">Gift Cards</a></li>
                    <li><a class="6" href="/gallery" class="selected">Gallery</a></li>
                    <li><a class="7" href="/contact">Contact</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation"></a></li>
                    <!-- <li><a class="instagram" href="#"></a></li> -->
                </ul>
            </div>
        </div>
        <div id="about" class="to-front">
            <div class="row top-row-space section-title first">
                <div class="container">
                    <div class="col-md-5">
                        <h2 class="about-bump">Contact</h2>
                    </div>
                    <div class="col-md-7">
                        <hr class="contact"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black mobile-bottom">
                <div class="container menu-list">
                    <div class="col-md-6">
                        <h3 class="first">Hours</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <p class="about first">Monday - Friday 11:30am - Close</p>
                                <p class="about no-space">Saturday 12:00pm - Close</p>
                                <p class="about no-space">Sunday 11:00am - Close</p>
                                <!--<p class="about no-space">For menu specific hours, go to our <a class="contact-menu" href="menu.html">MENUS</a> page.</p>-->
                            </li>
                        </ul>
                        <h3>Address</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <a style="display:inline-block;" class="contact-menu" href="https://plus.google.com/+OregonElectricStation/about" target="_blank">
                                    <p class="about first">27 East 5th Avenue</p>
                                    <p class="about no-space">Eugene, OR</p>
                                    <p class="about no-space">97401</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="first">Numbers</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <p class="about first">Phone: <a class="contact-menu tele" href="tel:+15414854444">(541) 485-4444</a></p>
                                <p class="about no-space">Fax: (541) 485-6149</p>
                            </li>
                        </ul>
                        <h3>Emails</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <p class="about small-space">To speak with our manager</p>
                                <p class="about no-space"><a class="skin" href="mailto:manager@oesrestaurant.com">manager@oesrestaurant.com</a></p>

                                <p class="about">General inquiries or comments</p>
                                <p class="about no-space"><a class="skin" href="mailto:office@oesrestaurant.com">office@oesrestaurant.com</a></p>
                                
                                <p class="about"> For inquiries about private events </p>
                                <p class="about no-space"><a class="skin" href="mailto:eventcoordinator@oesrestaurant.com">eventcoordinator@oesrestaurant.com</a></p>
                                <p class="about no-space"> <a class="contact-menu op" href="/events">Click here to view our room choices</a></p>

                                <p class="about">For inquiries pertaining to gift cards other then sales/purchases</p>
                                <p class="about no-space"><a class="skin" href="mailto:giftcards@oesrestaurant.com">giftcards@oesrestaurant.com</a></p>
                                <p class="about no-space"> <a class="contact-menu op" href="/giftcards">Click here to view purchasing options</a></p>

                                <p class="about">For inquiries on donations (please leave detailed information)</p>
                                <p class="about no-space"><a class="skin" href="mailto:donations@oesrestaurant.com">donations@oesrestaurant.com</a></p>

                                <p class="about">For offers of marketing solutions</p>
                                <p class="about no-space"><a class="skin" href="mailto:marketing@oesrestaurant.com">marketing@oesrestaurant.com</a></p>

                                <p class="about">For job inquiries, and resume drop off (please provide a picture if possible)</p>
                                <p class="about no-space"><a class="skin" href="mailto:jobs@oesrestaurant.com">jobs@oesrestaurant.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".header li a").removeClass("selected");
        $(".header li a.7").addClass("selected");
    </script>
{% endblock %}