<head>
    <link rel="stylesheet" href="../static/css/events.css">
    <!--  php mailer stuff  -->
    <script src="../static/js/validateform.js"></script>
    <script>
        required.add('Event_Email','EMAIL','Email Address');
    </script>
</head>
{% extends 'base.html' %}
{% block content %}
        <div class="canvas-wrap">
            <div class="row fixed-top reserve std-header">
                <div class="container pos-rel">
                    <div class="home-wrecka main">
                        <a href="index.html"></a>
                    </div>
                    <ul class="header">
                        <li><a href="about.html">About</a></li>
                        <li><a href="menu.html">Menus</a></li>
                        <li><a href="events.html" class="selected">Events</a></li>
                        <li><a href="reservations.html">Reservations</a></li>
                        <li><a href="giftcards.html">Gift Cards</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation" target="_blank"></a></li>
                        <!-- <li><a class="instagram" href="#"></a></li> -->
                    </ul>
                </div>
                <div id="menu-bar" class="row events-bar">
                    <div class="container">
                        <div class="menu-nav">
                            <ul class="no-pad-left">
                                <li class="toggle-room-nav hide-mobile">
                                    <a href="#drop" class="toggle-drop"><span><div class="arrow-down"></div></span>View Rooms</a>
                                    <div class="dropdown-mask" id="scrollyspy">
                                        <ul class="option-dropdown nav">
                                            <li class="top-info-anchor"><a href="#slide-8">Information</a></li><!-- tricks scrollspy shhhh... -->
                                            <li><a href="#slide-1">Jazz Room</a></li>
                                            <li><a href="#slide-2">Station Hall</a></li>
                                            <li><a href="#slide-3">Santiam</a></li>
                                            <li><a href="#slide-4">Platform A &amp; B</a></li>
                                            <li><a href="#slide-5">Sacajawea</a></li>
                                            <li><a href="#slide-6">Platform 51</a></li>
                                            <li><a href="#slide-7">Library</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="no-border toggle-reserve-form">
                                    <a href="#drop" class="toggle-reserve">Reserve Now<span><div class="arrow-down"></div></span></a>
                                    <div class="reserve-form-mask">
                                        <div class="reserve-form">
                                            <div class="container">
                                                <div class="form-bg">
                                                    <form method="post" action="../static/php/eventform.php">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <label for="Applicant_Name">Full Name</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input name="Applicant_Name" id="Applicant_Name" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <label for="Event_Date">Event Date</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input name="Event_Date" id="Event_Date" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <label for="Event_Guest_Number">Number of Guests</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input name="Event_Guest_Number" id="Event_Guest_Number" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <label for="Event_Type">Type of Event</label>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input name="Event_Type" id="Event_Type" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <label for="Event_PhoneNumber">Telephone Number</label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input name="Event_PhoneNumber" id="Event_PhoneNumber" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="Event_Email">Email Address</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input name="Event_Email" id="Event_Email" maxlength="40"></input>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="row">
                                                            <label class="pref">Event Information:</label>
                                                            <div class="col-md-5">
                                                                <label for="Event_Date">Date</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input name="Event_Date" id="Event_Date" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <label for="Event_Time">Time</label>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <input name="Event_Time" id="Event_Time" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <label for="Event_Guest_Number">Number of Guests</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input name="Event_Guest_Number" id="Event_Guest_Number" maxlength="40"></input>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div id="room-choice"class="row">

                                                            <label class="pref">Room Preference:</label>

                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Sacajawea" id="Sacajawea" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Sacajawea">Sacajawea</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Platform_51" id="Platform_51" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Platform_51">Platform 51</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox"  type="checkbox" value="Jazz_Room" id="Jazz_Room" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Jazz_Room">Jazz Room</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Library" id="Library" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Library">Library</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Santiam" id="Santiam" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Santiam">Santiam</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Platform_A" id="Platform_A" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Platform_A">Platform A</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Platform_B" id="Platform_B" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Platform_B">Platform B</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Station_Hall" id="Station_Hall" name="room_choice[]"></input>
                                                                <label class="for-checkbox" for="Station_Hall">Station Hall</label>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div class="row top-space-20">
                                                            <div class="col-md-7">
                                                                <label for="Event_Type">Type of Event</label>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <input name="Event_Type" id="Event_Type" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <label for="Event_AV">Audio & Visual Needed?</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input name="Event_AV" id="Event_AV" maxlength="40"></input>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div id="food-pref" class="row                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Set_Menu" id="Set_Menu" name="food_choice[]"></input>
                                                                <label class="for-checkbox" for="Set_Menu">Set Menu</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="for-checkbox" type="checkbox" value="Buffet" id="Buffet" name="food_choice[]"></input>
                                                                <label class="for-checkbox" for="Buffet">Buffet</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="Family_Style" id="Family_Style" name="food_choice[]"></input>
                                                                <label class="for-checkbox" for="Family_Style">Family Style</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="Finger_Food" id="Finger_Food" name="food_choice[]"></input>
                                                                <label class="for-checkbox" for="Finger_Food">Finger Food</label>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div id="bar-ops" class="row">
                                                            <label class="pref">Bar Options:</label>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="Hosted_Bar" id="Hosted_Bar" name="bar_choice[]"></input>
                                                                <label class="for-checkbox" for="Hosted_Bar">Hosted Bar</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="UnHosted_Bar" id="UnHosted_Bar"name="bar_choice[]"></input>
                                                                <label class="for-checkbox" for="UnHosted_Bar">Un-Hosted Bar</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="Limited_Bar" id="Limited_Bar" name="bar_choice[]"></input>
                                                                <label class="for-checkbox" for="Limited_Bar">Limited Bar</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="Soft_Drinks" id="Soft_Drinks" name="bar_choice[]"></input>
                                                                <label class="for-checkbox" for="Soft_Drinks">Soft Drinks</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input type="checkbox" value="Beer_and_Wine" id="Beer_and_Wine" name="bar_choice[]"></input>
                                                                <label class="for-checkbox" for="Beer_and_Wine">Beer & Wine</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input type="checkbox" value="American_Coffee_and_IceTea" id="American_Coffee_and_IceTea" name="bar_choice[]"></input>
                                                                <label class="for-checkbox" for="American_Coffee_and_IceTea">American Coffee & Ice Tea</label>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div class="row top-space-20">
                                                            <div class="col-md-12">
                                                                <label for="Event_SpecialRequest">Special Requests</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input name="Event_SpecialRequest" id="Event_SpecialRequest" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label for="Event_ReservationName">Name for Reservation</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input name="Event_ReservationName" id="Event_ReservationName" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <label for="Event_PhoneNumber">Telephone Number</label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <input name="Event_PhoneNumber" id="Event_PhoneNumber" maxlength="40"></input>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="Event_Email">Email Address</label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input name="Event_Email" id="Event_Email" maxlength="40"></input>
                                                            </div>
                                                        </div> -->
                                                        <input class="submit-button" type="submit" value="Submit">
                                                        <br />
                                                        <br />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="preload">
                <img src="../static/images/SideBar2.jpg">
                <img src="../static/images/MainBar1.jpg">
                <img src="../static/images/OES19.jpg">
                <img src="../static/images/oes-widedining-corner.JPG">
                <img src="../static/images/oes-sacajawea.JPG">
                <img src="../static/images/OES18.jpg">
                <img src="../static/images/oes-stillframe-library.jpg">
                <img src="../static/images/oes-outside.JPG">
            </div>
            <main>
                <section id="slide-8" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="row section-title first">
                                    <div class="container">
                                        <div class="col-md-7">
                                            <h2 class="about-bump event-page">Private Events</h2>
                                        </div>
                                        <div class="col-md-5">
                                            <hr class="eventer"></hr>
                                        </div>
                                    </div>
                                </div>
                                <div class="row bg-trans-black">
                                    <div class="container">
                                        <div class="col-md-12">
                                            <p>At OES we combine a fantastic location, organic locally sourced food passionately crafted, with a team that is dedicated to the fine art of hospitality in a classic and modern atmosphere to provide an unforgettable event.</p>
                                            <p>OES offers the possibility from 10 to 300 people maximum for seated parties, and the possibility from 10 to 600 people maximum for cocktails parties. OES is the perfect place for exhibitions, presentations, weddings, business meetings or just friendly gatherings. We have different rooms ready to accommodate your functions needs.</p>
                                            <p>We offer different styles of service, from sit down set menus, to buffet or family style, and cocktail receptions.</p>
                                            <p>We welcome accommodating you in any way you need with special requests from themed decorations to different styles of cuisine, it would be our pleasure to assist you. Please feel free to contact us with any questions or requests.</p>
                                            <p>Thank you for your interest and we look forward to hearing from you.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row section-title scroller">
                                    <div class="container">
                                        <div class="col-md-12">
                                            <h2 class="event-page scroller">Scroll Down to see our room choices</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-1" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-4">
                                        <p>Jazz Room</p>
                                    </div>
                                    <div class="col-md-8">
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-2" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-5">
                                        <p>Station Hall</p>
                                    </div>
                                    <div class="col-md-7">
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-3" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-4">
                                        <p>Santiam</p>
                                    </div>
                                    <div class="col-md-8">
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-4" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-6">
                                        <p>Platform A & B</p>
                                    </div>     
                                    <div class="col-md-6">
                                        <hr></hr>
                                    </div>                  
                                </div>        
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-5" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-4">
                                        <p>Sacajawea</p>
                                    </div>
                                    <div class="col-md-8">
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-6" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-5">
                                        <p>Platform 51</p>
                                    </div>
                                    <div class="col-md-7">
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="slide-7" class="homeSlide">
                    <div class="bcg">
                        <div class="hsContainer">
                            <div class="hsContent">
                                <div class="container">
                                    <div class="col-md-4">
                                        <p>Library</p>
                                    </div>
                                    <div class="col-md-8">
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-1.8.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/imagesloaded.js"></script>
        <script src="../static/js/skrollr.js"></script>
        <script type="text/javascript" src="../static/js/_main.js"></script>
{%endblock%}
