{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <div class="static-bg gallery">
        </div>
    </div>
    <div class="canvas-wrap">
        <div class="row fixed-top std-header">
            <div class="container pos-rel">
                <div class="home-wrecka main">
                    <a href="/index"></a>
                </div>
                <ul class="header">
                    <li><a class="1" href="/about">About</a></li>
                    <li><a class="2" href="/menu">Menus</a></li>
                    <li><a class="3" href="/events">Rooms</a></li>
                    <li><a class="4" href="/reservations">Reservations</a></li>
                    <li><a class="5" href="/giftcards">Gift Cards</a></li>
                    <li><a class="6" href="/gallery" class="selected">Gallery</a></li>
                    <li><a class="7" href="/contact">Contact</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation"></a></li>
                    <!-- <li><a class="instagram" href="#"></a></li> -->
                </ul>
            </div>
        </div>
        <div class="to-front">
            <div class="row top-row-space section-title first">
                <div class="container">
                    <div class="col-md-5">
                        <h2 class="about-bump mobile-tiny">Photographs</h2>
                    </div>
                    <div class="col-md-7">
                        <hr class="photo"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-black mobile-bottom tb-pad">
                <div class="container">
                    <div class="col-md-12">
                        <section class="slider">
                            <div id="slider" class="flexslider">
                              <ul class="slides">
                                <li>
                                    <img src="../static/images/OES28.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES30.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES27.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES29.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/OES31.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES32.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES7.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/oes-outside.JPG" />
                                    </li>
                                <li>
                                    <img src="../static/images/MainBar1.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/SideBar2.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/oes-widedining-platform51.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES19.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/oes-widedining-corner.JPG" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES20.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES3.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/oes-sacajawea.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/oes-wide-library.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/Patio3.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES11.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES2.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/OES23.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES7.jpg" />
                                    </li>
                              </ul>
                            </div>
                            <div id="carousel" class="flexslider">
                              <ul class="slides">
                                <li>
                                    <img src="../static/images/OES28.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES30.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES27.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES29.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/OES31.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES32.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES7.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/oes-outside.JPG" />
                                    </li>
                                <li>
                                    <img src="../static/images/MainBar1.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/SideBar2.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/oes-widedining-platform51.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES19.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/oes-widedining-corner.JPG" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES20.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES3.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/oes-sacajawea.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/oes-wide-library.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/Patio3.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES11.jpg" />
                                    </li>
                                    <li>
                                    <img src="../static/images/OES2.jpg" />
                                    </li>
                                <li>
                                    <img src="../static/images/OES23.jpg" />
                                    </li>
                                    
                              </ul>
                            </div>
                          </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".header li a").removeClass("selected");
        $(".header li a.6").addClass("selected");
    </script>
    <!-- Demo CSS -->
    <link rel="stylesheet" href="../static/css/flexslider.css" type="text/css" media="screen" />

    <!-- Modernizr -->
    <script src="../static/js/gallery2/modernizr.js"></script>


    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.1.min.js">\x3C/script>')</script>

    <!-- FlexSlider -->
    <script src="../static/js/gallery2/jquery.flexslider.js"></script>

    <script type="text/javascript">
        $(function(){
          SyntaxHighlighter.all();
        });
        $(window).load(function(){
          $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 150,
            itemMargin: 10,
            asNavFor: '#slider'
          });

          $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel",
            start: function(slider){
              $('body').removeClass('loading');
            }
          });
          $(".flex-next").contents().filter(function(){ return this.nodeType != 1; }).remove();
          $(".flex-prev").contents().filter(function(){ return this.nodeType != 1; }).remove();
        });
    </script>


    <!-- Syntax Highlighter -->
    <script type="text/javascript" src="../static/js/gallery2/shCore.js"></script>
    <script type="text/javascript" src="../static/js/gallery2/shBrushXml.js"></script>
    <script type="text/javascript" src="../static/js/gallery2/shBrushJScript.js"></script>

    <!-- Optional FlexSlider Additions -->
    <script src="../static/js/gallery2/jquery.easing.js"></script>
    <script src="../static/js/gallery2/jquery.mousewheel.js"></script>
{% endblock %}