<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Oregon Electric Station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="oregon electric station, eugene fine dining, eugene dining" />
        <meta name="author" content="Oregon Electric Station" />
        <link rel="shortcut icon" href="favicon.ico"> 
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/bigvideo.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <!-- PhotoGallery Dependencies -->
        <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
        <link rel="stylesheet" type="text/css" href="css/gallery-style.css" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-56396502-1', 'auto');
          ga('send', 'pageview');
        </script>
        
        <noscript>
            <style>
                .es-carousel ul{
                    display:block;
                }
            </style>
        </noscript>
        <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">    
            <div class="rg-image-wrapper">
                {{if itemsCount > 1}}
                    <div class="rg-image-nav">
                        <a href="#" class="rg-image-nav-prev">Previous Image</a>
                        <a href="#" class="rg-image-nav-next">Next Image</a>
                    </div>
                {{/if}}
                <div class="rg-image"></div>
                <div class="rg-loading"></div>
                <div class="rg-caption-wrapper">
                    <div class="rg-caption" style="display:none;">
                        <p></p>
                    </div>
                </div>
            </div>
        </script>
    </head>
    <body>
        <div class="mobile-nav">
            <a href="#" class="nav-icon">
            </a>
        </div>
        <div class="sidebar-nav">
            <div class="home-wrecka">
                <a href="index.html"></a>
            </div>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html">Menus</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="reservations.html">Reservations</a></li>
                <li><a href="giftcards.html">Gift Cards</a></li>
                <li><a href="gallery.html" class="selected">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="facebook"><a href="https://www.facebook.com/OregonElectricStation" target="_blank"></a></li>
                <!-- <li class="instagram"><a href="#"></a></li> -->
            </ul>
        </div>
        <div class="wrapper">
            <div class="static-bg gallery">
            </div>
        </div>
        <div class="canvas-wrap">
            <div class="row fixed-top std-header">
                <div class="container pos-rel">
                    <div class="home-wrecka main">
                        <a href="index.html"></a>
                    </div>
                    <ul class="header">
                        <li><a href="about.html">About</a></li>
                        <li><a href="menu.html">Menus</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="reservations.html">Reservations</a></li>
                        <li><a href="giftcards.html">Gift Cards</a></li>
                        <li><a href="gallery.html" class="selected">Gallery</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation"></a></li>
                        <!-- <li><a class="instagram" href="#"></a></li> -->
                    </ul>
                </div>
            </div>
            <div id="about" class="to-front">
                <div class="row top-row-space section-title first">
                    <div class="container">
                        <div class="col-md-5">
                            <h2 class="about-bump mobile-tiny">Photographs</h2>
                        </div>
                        <div class="col-md-7">
                            <hr class="photo"></hr>
                        </div>
                    </div>
                </div>
                <div class="row bg-black mobile-bottom">
                    <div class="container menu-list">
                        <div class="col-md-12">
                            <div class="content">
                                <div id="rg-gallery" class="rg-gallery">
                                    <div class="rg-thumbs">
                                        <!-- Elastislide Carousel Thumbnail Viewer -->
                                        <div class="es-carousel-wrapper">
                                            <div class="es-carousel">
                                                <ul>
                                                    
                                                    
                                                    <li><a href="#"><img src="images/OES28.jpg" data-large="images/OES28.jpg" alt="image09" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES30.jpg" data-large="images/OES30.jpg" alt="image14" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES27.jpg" data-large="images/OES27.jpg" alt="image06" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES29.jpg" data-large="images/OES29.jpg" alt="image04" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES31.jpg" data-large="images/OES31.jpg" alt="image24" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES32.jpg" data-large="images/OES32.jpg" alt="image10" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES1.jpg" data-large="images/OES1.jpg" alt="image01" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/oes-outside.JPG" data-large="images/oes-outside.JPG" alt="image89" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/MainBar1.jpg" data-large="images/MainBar1.jpg" alt="image01" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/SideBar2.jpg" data-large="images/SideBar2.jpg" alt="image84" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/oes-widedining-platform51.jpg" data-large="images/oes-widedining-platform51.jpg" alt="image80" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES19.jpg" data-large="images/OES19.jpg" alt="image22" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/oes-widedining-corner.JPG" data-large="images/oes-widedining-corner.JPG" alt="image82" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES20.jpg" data-large="images/OES20.jpg" alt="image05" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES3.jpg" data-large="images/OES3.jpg" alt="image12" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/oes-sacajawea.jpg" data-large="images/oes-sacajawea.jpg" alt="image88" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/oes-wide-library.jpg" data-large="images/oes-wide-library.jpg" alt="image81" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/Patio3.jpg" data-large="images/Patio3.jpg" alt="image29" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES11.jpg" data-large="images/OES11.jpg" alt="image15" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES2.jpg" data-large="images/OES2.jpg" alt="image20" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES23.jpg" data-large="images/OES23.jpg" alt="image23" data-description="d" /></a></li>

                                                    <li><a href="#"><img src="images/OES7.jpg" data-large="images/OES7.jpg" alt="image24" data-description="d" /></a></li>
                                                </ul>
                                            </div>
                                            <div class="es-nav">
                                                <span class="es-nav-prev">Previous</span>
                                                <span class="es-nav-next">Next</span>
                                            </div>
                                        </div>
                                    </div><!-- rg-thumbs -->
                                </div><!-- rg-gallery -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/gallery/gallery.js"></script>
    <script type="text/javascript" src="js/gallery/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="js/gallery/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/gallery/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/gallery/mobile-menu.js"></script>
    <script type="text/javascript" src="js/gallery/elastislide-autoplay.js"></script>
    </body>
</html>