{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <div class="static-bg giftcards-bg">
        </div>
    </div>
    <div class="canvas-wrap">
        <div class="row fixed-top std-header">
            <div class="container pos-rel">
                <div class="home-wrecka main">
                    <a href="/index"></a>
                </div>
                <ul class="header">
                    <li><a class="1" href="/about">About</a></li>
                    <li><a class="2" href="/menu">Menus</a></li>
                    <li><a class="3" href="/rooms">Rooms</a></li>
                    <li><a class="4" href="/reservations">Reservations</a></li>
                    <li><a class="5" href="/giftcards">Gift Cards</a></li>
                    <li><a class="6" href="/gallery" class="selected">Gallery</a></li>
                    <li><a class="7" href="/contact">Contact</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation"></a></li>
                    <!-- <li><a class="instagram" href="#"></a></li> -->
                </ul>
            </div>
        </div>
        <div id="about" class="to-front">
            <div class="row top-row-space section-title first to-fronter">
                <div class="container">
                    <div class="col-md-5">
                        <h2 class="about-bump ressy">Gift Cards</h2>
                    </div>
                    <div class="col-md-7">
                        <hr class="gcard"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black mobile-bottom">
                <div class="container menu-list">
                    <!--<div class="ul-leaf"></div>-->
                    <div class="col-md-12 to-fronter">
                        <h3 class="first norm"><!--Give tasty tidings to all!--></h3>
                        <!--<hr></hr>-->
                    </div>
                    <div class="col-md-9">
                        <ul>
                            <li class="rp-50 bp-20">
                                <p class="about first">Treat a loved one, friend or co-worker to an unforgettable dining experience at the Oregon Electric Station. Our gift cards make perfect gifts for holidays, anniversaries, birthdays, or any special occasion.</p>
                                <p class="about">There are two convenient ways to purchase an Oregon Electric Station Gift Card, you can order a gift card online or buy one at the restaurant.  Oregon Electric Station gift cards can be purchased in any denomination and do not expire.</p>
                            </li>
                        </ul>
                        <button class="pay-btn" type="button">Click Here to Purchase</button>
                        <div class="store-front">
                            <div id="my-store-6222138"></div>
                            <script type="text/javascript" src="http://app.ecwid.com/script.js?6222138" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(3,3) list(10) table(20)","categoryView=grid","searchView=list","id=my-store-6222138");</script>
                        </div>
                    </div>
                    <div class="col-md-3 giftcard-media">
                        <img src="../static/images/OES7.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".header li a").removeClass("selected");
        $(".header li a.5").addClass("selected");
    </script>
{% endblock %}