{% extends 'base.html' %}
{% block content %}
        <div class="wrapper">
            <div class="static-bg home-bg screen" id="screen-1" data-video="../static/video/oes-vidbg.mp4"></div>
        </div>
        <div class="canvas-wrap">
            <div class="row fixed-top homer-top">
                <div class="container">
                    <ul class="header">
                        <li><a href="/about">About</a></li>
                        <li><a href="/menu">Menus</a></li>
                        <li><a href="/rooms">Rooms</a></li>
                        <li><a href="/reservations">Reservations</a></li>
                        <li><a href="/giftcards">Gift Cards</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a class="facebook" target="_blank" href="https://www.facebook.com/OregonElectricStation"></a></li>
                        <!-- <li><a class="instagram" href="#"></a></li> -->
                    </ul>
                </div>
            </div>
            <!-- INSERT AD-CONTENT AFTER THIS LINE -->
            <!--BEGIN COPY/PASTE HERE IF YOU WOULD LIKE THANKSGIVING ADVERTISEMENT TO BE DISPLAYED ON HOME PAGE-->
            <div class="row top-row-space section-title home first">
                <div class="container">
                    <div class="col-md-7">
                        <h2>Mother's Day Brunch</h2>
                    </div>
                    <div class="col-md-5 align-right tday">
                        <p class="days mobile-first">Sunday</p>
                        <p>May 10<span>th</span></p>
                        <hr class="turkeyday"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black spacer-bot">
                <div class="container menu-list">
                    <div class="col-md-4 pr-30">
                        <h3 class="first">Details</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <p class="about first">Treat the lovely ladies in your life to a memorable experience at Oregon Electric Station this Mother's Day. Join us for Mother’s Day Brunch at Oregon Electric Station. We will be featuring a special brunch menu from 9:30 am - 2:00 pm | $39.95 per person and $19.95 for kids 12 and under. Mother's Day Dinner hours 4:00-9:00 pm featuring our regular dinner menu. Come celebrate your mother with us! She'll be happy you did!</p>
                                <!-- <p class="about big">The buffet will run from 10:00 am - 2:30 pm</p>   
                                <p class="about">Dinner reservations will begin at 4:00 pm</p>    -->
                            </li>
                        </ul>
                        <div class="col-md-12">
                            <img class="eggs" src="../static/images/oes-mothers-day.png" />
                        </div>
                        <!-- <div class="col-md-5">
                            <p class="eprice">$34.95 per person</p>
                            <p class="eprice no-top"><span>($19.95 per child)</span></p>
                        </div> -->
                    </div>
                    <div class="col-md-8">
                        <h3 class="first">Buffet Menu</h3>
                        <hr></hr>
                        <div class="col-md-6">
                            <ul class="brunch-list">
                                <li>Champagne</li>
                                <li>Bloody Marys & Roses</li>
                                <li>Fresh Orange & Grapefruit Juices</li>
                                <li>Fresh Pressed Juices:</li>
                                <li>Citrus: Pineapple, Apple, Lemon, Mint</li>
                                <li>Green: Kale, Spinach, Parsley, Cucumber, Celery</li>
                                <li>Roots: Beets, Ginger, Carrots, Apple</li>
                                <li>Fruits: Apple, Strawberry, Lime</li>
                                <li>Granola or Steel Cut Oatmeal, Mixed Berries & Yogurt</li>
                                <li>Breakfast Cereals with Fresh Fruit</li>
                                <li>Smoked Trout Salad with Potato and Creme Fraic</li>
                                <li>Garden Lettuces with Assorted Dressings</li>
                                <li>Caesar Salad with Shaved Parmesan</li>
                                <li>Roasted Beet Salad with Goat Cheese</li>
                                <li>Caprese Salad with Fresh Basil</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="brunch-list">
                                <li>Scrambled Eggs (Regular and Egg Whites)</li>
                                <li>Waffle Station:</li>
                                <li>Syrups, Butter, Whipped Cream, Strawberries, Nuts, Chocolate Chips</li>
                                <li>Roasted Prime Rib with Au Jus</li>
                                <li>Roasted Free Range Chicken</li>
                                <li>House Cured Ham with Brown Sugar Glaze</li>
                                <li>Poached Salmon with Hard Boiled Eggs, and Capers</li>
                                <li>Vegetarian Quiche</li>
                                <li>Roasted Vegetables with Balsamic</li>
                                <li>Roasted New Potato with Thyme and Garlic</li>
                                <li>Bacon, Molasses Cured Ham, & Italian Sausage</li>
                                <li>Bread Sticks, Rolls, Focaccia</li>
                                <li>Seasonal Fruit with Mint</li>
                                <li>Assorted Desserts</li>
                                <li>Ice Cream Sundae</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black mobile-bottom tpb first">
                <div class="container">
                    <div class="col-md-6 pr-30">
                        <p class="thankyou">We would like to take this opportunity to thank all of the people, businesses, communities and organizations that have helped to create and sustain The Oregon Electric Station.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <link href="http://www.opentable.com/dcwidget/2015/dinerschoicebadges.css" rel="stylesheet" type="text/css" /><a href="http://www.opentable.com/rest_profile.aspx?rid=148456&restref=148456" class="ot-dc-badge ot-dc-badge--p">Book now</a>
                        </div>
                        <div class="col-md-7 lp">
                            <p class="mini">We are also proud to announce that OES is the  winner of the 2015 Diner’s Choice Award.</p>
                            <p class="mini two">Reserve a table now by clicking the button below!</p>
                            <a href="/reservations"><img class="ot-reserve-now" src="../static/images/opentable-reserve-now-new.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END THANKSGIVING ADVERTISEMENT COPY SECTION-->  
            <!-- INSERT AD-CONTENT BEFORE THIS LINE-->
        </div>
{% endblock %}