{% extends 'base.html' %}
{% block content %}
        <div class="wrapper">
            <div class="static-bg home-bg screen" id="screen-1" data-video="../static/video/oes-vidbg.mp4"></div>
        </div>
        <div class="canvas-wrap">
            <div class="row fixed-top homer-top">
                <div class="container">
                    <ul class="header">
                        <li><a href="/about">About</a></li>
                        <li><a href="/menu">Menus</a></li>
                        <li><a href="/rooms">Rooms</a></li>
                        <li><a href="/reservations">Reservations</a></li>
                        <li><a href="/giftcards">Gift Cards</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a class="facebook" target="_blank" href="https://www.facebook.com/OregonElectricStation"></a></li>
                        <!-- <li><a class="instagram" href="#"></a></li> -->
                    </ul>
                </div>
            </div>
            <!-- INSERT AD-CONTENT AFTER THIS LINE -->
            <!--BEGIN COPY/PASTE HERE IF YOU WOULD LIKE THANKSGIVING ADVERTISEMENT TO BE DISPLAYED ON HOME PAGE-->
            <!-- <div class="row top-row-space section-title home first">
                <div class="container">
                    <div class="col-md-7">
                        <h2>Easter Sunday Brunch</h2>
                    </div>
                    <div class="col-md-5 align-right tday">
                        <p class="days mobile-first">Sunday</p>
                        <p>April 5<span>th</span></p>
                        <hr class="turkeyday"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black spacer-bot">
                <div class="container menu-list">
                    <div class="col-md-6 pr-30">
                        <h3 class="first">Details</h3>
                        <hr></hr>
                        <ul>
                            <li>
                                <p class="about first">Come celebrate your Easter Sunday with us and enjoy a beautiful selection of traditional brunch items as well as a few of our favorite OES dishes.</p>
                                <p class="about big">The buffet will run from 10:00 am - 2:30 pm</p>   
                                <p class="about">Dinner reservations will begin at 4:00 pm</p>   
                            </li>
                        </ul>
                        <div class="col-md-7">
                            <img class="eggs" src="../static/images/oes-easter-eggs.png" />
                        </div>
                        <div class="col-md-5">
                            <p class="eprice">$34.95 per person</p>
                            <p class="eprice no-top"><span>($19.95 per child)</span></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="first">Buffet Menu</h3>
                        <hr></hr>
                        <div class="col-md-6">
                            <ul class="brunch-list">
                                <li>Scrambled eggs</li>
                                <li>Vegetable omelets</li>
                                <li>Bacon & sausage</li>
                                <li>Home fries</li>
                                <li>Biscuits and gravy</li>
                                <li>Pancakes</li>
                                <li>Fresh Strawberries & whipped cream</li>
                                <li>Assorted pastries with fresh jam</li>
                                <li>Fruits</li>
                                <li>Mixed green salad</li>
                                <li>Caesar salad</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="brunch-list">
                                <li>Eggplant parmigiana</li>
                                <li>Spinach salad</li>
                                <li>Caprese salad</li>
                                <li>Penne arrabiata</li>
                                <li>Lasagna Bolognese</li>
                                <li>Ravioli massaia</li>
                                <li>Prime rib station</li>
                                <li>Ham Station</li>
                                <li>Salmon and chicken</li>
                                <li>Mashed potato and veggies</li>
                                <li>Chocolate brownies</li>
                                <li>Tiramisu</li>
                                <li>And more...</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row bg-trans-black top-row-spacer mobile-bottom tpb first">
                <div class="container">
                    <div class="col-md-6 pr-30">
                        <p class="thankyou">We would like to take this opportunity to thank all of the people, businesses, communities and organizations that have helped to create and sustain The Oregon Electric Station.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-5">
                            <link href="http://www.opentable.com/dcwidget/2015/dinerschoicebadges.css" rel="stylesheet" type="text/css" /><a href="http://www.opentable.com/rest_profile.aspx?rid=148456&restref=148456" class="ot-dc-badge ot-dc-badge--p">Book now</a>
                        </div>
                        <div class="col-md-7 lp">
                            <p class="mini">We are also proud to announce that OES is the  winner of the 2015 Diner’s Choice Award.</p>
                            <p class="mini two">Reserve a table now by clicking the button below!</p>
                            <a href="/reservations"><img class="ot-reserve-now" src="../static/images/opentable-reserve-now-new.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END THANKSGIVING ADVERTISEMENT COPY SECTION-->  
            <!-- INSERT AD-CONTENT BEFORE THIS LINE-->
        </div>
{% endblock %}