<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Oregon Electric Station</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content="oregon electric station, eugene fine dining, eugene dining" />
        <meta name="author" content="Oregon Electric Station" />
        <link rel="shortcut icon" href="favicon.ico"> 
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/events.css">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
        <!-- BigVideo Dependencies -->
        <script src="js/modernizr-2.5.3.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.8.1.min.js"><\/script>')</script>
        <script src="js/jquery-ui-1.8.22.custom.min.js"></script>
        <script src="http://vjs.zencdn.net/c/video.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-56396502-1', 'auto');
          ga('send', 'pageview');
        </script>
        <script src="js/bigvideo.js"></script>
    </head>
    <body data-spy="scroll" data-target="#scrollyspy">
        <div class="mobile-nav">
            <a href="#drop" class="nav-icon"></a>
        </div>
        <div class="sidebar-nav">
            <div class="home-wrecka">
                <a href="index.html"></a>
            </div>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="menu.html" class="selected">Menus</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="reservations.html">Reservations</a></li>
                <li><a href="giftcards.html">Gift Cards</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li class="facebook"><a href="https://www.facebook.com/OregonElectricStation" target="_blank"></a></li>
                <!-- <li class="instagram"><a href="#"></a></li> -->
            </ul>
        </div>
        <div class="wrapper">
            <div class="static-bg menu-bg">
            </div>
        </div>
        <div class="canvas-wrap">
            <div class="row fixed-top menu std-header">
                <div class="container pos-rel">
                    <div class="home-wrecka main">
                        <a href="index.html"></a>
                    </div>
                    <ul class="header">
                        <li><a href="about.html">About</a></li>
                        <li><a href="menu.html" class="selected">Menus</a></li>
                        <li><a href="events.html">Events</a></li>
                        <li><a href="reservations.html">Reservations</a></li>
                        <li><a href="giftcards.html">Gift Cards</a></li>
                        <li><a href="gallery.html">Gallery</a></li> 
                        <li><a href="contact.html">Contact</a></li>
                        <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation" target="_blank"></a></li>
                        <!-- <li><a class="instagram" href="#"></a></li> -->
                    </ul>
                </div>
                <div id="menu-bar" class="menu-page row">
                    <div class="container">
                        <div class="menu-nav" id="scrollyspy">
                            <ul class="menu-pieces nav">
                                <li class="active"><a href="#barmenu">Bar</a></li>
                                <li><a href="#lunchmenu">Lunch</a></li>
                                <li><a href="#dinnermenu">Dinner</a></li>
                                <li><a href="#dessertmenu">Dessert</a></li>
                                <!-- <li class="no-border toggle-reserve-form menu"><a href="#drop"><span><div class="arrow-down"></div></span>View Menus</a></li>
                                <div class="dropdown-hide right-most">
                                    <ul class="option-dropdown closed">
                                        <li><a href="#barmenu">Bar</a></li>
                                        <li><a href="#lunchmenu">Lunch</a></li>
                                        <li><a href="#dinnermenu">Dinner</a></li>
                                        <li><a href="#dessertmenu">Dessert</a></li>
                                    </ul>  
                                </div> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="menu" class="to-front">
                <div id="barmenu" class="row section-title first">
                    <div class="container">
                        <div class="col-md-5">
                            <h2>Bar Menu</h2>
                        </div>
                        <div class="col-md-7 align-right mobile-align">
                            <p class="days mobile-first">Monday - Sunday</p>
                            <p>3:00pm - close</p>
                            <hr class="bar"></hr>
                        </div>
                    </div>
                </div>
                <div class="row bg-trans-black">
                    <div class="container menu-list">
                        <div class="col-md-6">
                            <h3 class="first">Tapas</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Fried Calamari</h4>
                                    <p class="price">6</p>
                                </li>
                                <li>
                                    <h4>Meat Ball Sliders</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Curry Shrimps</h4>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Bruschetta Trio</h4>
                                    <p>(Tomato-Prosciutto, Fig, Robiola-Mushroom)</p>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Stuffed Poblano Shrimp</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>4 Barbecued Baby Ribs</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Tortelloni of Ricotta and Spinach</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Pork Belly Glazed</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Crab Cakes</h4>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Fried Breaded Mozzarella</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Wild Mushroom Arancini</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Tuna Tartare on Flat Bread</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>3 Shrimp with Cocktail Sauce</h4>
                                    <p class="price">7</p>
                                </li>
                            </ul>
                            <h3>Red Wine</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">House Red</h4>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Chianti. Cantine Gina. "Solatio" 2011</h4>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Pinot Noir. King Estate. Acrobat. 2012</h4>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Barbera d' Asti. Ellio Perrona. 2012</h4>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Cabernet Sauvignon. Revelry. 2011</h4>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Red Blend. Pamplin Estate JRG. 2010</h4>
                                    <p class="price">14</p>
                                </li>
                            </ul>
                            <h3>White Wine</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">House White</h4>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Pinot Gris. King Estate. Acrobat. 2012</h4>
                                    <p class="price">8</p>
                                </li>
                                <li>
                                    <h4>Sauvignon Blanc. Airfield Estates.</h4>
                                    <p class="price">8</p>
                                </li>
                                <li>
                                    <h4>Garganega. Inama. Soave Classico</h4>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Chardonnay, Route Stock. 2011</h4>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Moscato d'Asti. Villa Rosa. 2013</h4>
                                    <p class="price">8</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="first">Bar Food</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Fish & Chips</h4>
                                    <p>NW Breaded Fried Cod, French Fries, Tartar Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Chicken Wings</h4>
                                    <p>OES Special Glazing, BBQ Chipotle Blue Cheese Sauce</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Hamburger</h4>
                                    <p>Kobe Beef, Cheese, Lettuce, Tomato, Onion (add any cheese)</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Salmon Burger</h4>
                                    <p>Grilled Salmon, Avocado, Romaine, Onion, Dijon, Aioli Mayo</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Small Lasagna Dish</h4>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>House Salads</h4>
                                    <p>Caprese Salad</p>
                                    <p>Waldorf Curry Chicken Salad</p>
                                    <p>Classic Caesar</p>
                                    <p class="price">5</p>
                                </li>
                                <li>
                                    <h4>Minestrone Cup</h4>
                                    <p class="price">6</p>
                                </li>
                                <li>
                                    <h4>4-oz. Grilled Salmon</h4>
                                    <p>Mixed Greens, Roasted Potatoes</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>6-oz. Skirt Steak Churrasco</h4>
                                    <p>French Fries, Chimichurri Sauce</p>
                                    <p class="price">9</p>
                                </li>
                            </ul>
                            <h3>Draught</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Bud Light</h4>
                                    <h4>Ninkasi Lux Lager</h4>
                                    <h4>Agrarian Sylvan Saison</h4>
                                    <h4>Widmere Heffeweizen</h4>
                                    <h4>Oakshire Line Dry Pale Ale</h4>
                                    <h4>Duchess de Bourgogne</h4>
                                    <h4>Pelican Silver Spot IPA</h4>
                                    <h4>Boneyard RPM IPA</h4>
                                    <h4>McKenzie Brewing Gauvalicious IPA</h4>
                                    <h4>Hop Valley Alpha-centauri IPA</h4>
                                    <h4>10 Barrel Sinister Black Ale</h4>
                                </li>
                                <li>
                                    <h4>Planktown Hobbits Habit Olde Ale</h4>
                                    <p class="price">(12oz - 5)</p>
                                </li>
                                <li>
                                    <h4>Two Towns Bright Cider</h4>
                                    <p class="price">(12oz - 4)</p>
                                </li>
                                <li>
                                    <h4>Nectar Creek Ginger Mead</h4>
                                    <p class="price">(12oz - 5)</p>
                                </li>
                                <li>
                                    <p class="price small">Ask about our Rotating Specialty Tap</p>
                                </li>
                            </ul>
                            <h3>Bubbles</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Prosecco. La Luca</h4>
                                    <p class="price">8</p>
                                </li>
                                <li>
                                    <h4>Prosecco. Sorelle Branca.</h4>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Vintage Brut. Argyle.</h4>
                                    <p class="price">14</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="lunchmenu" class="row top-row-space section-title">
                    <div class="container">
                        <div class="col-md-5">
                            <h2>Lunch Menu</h2>
                        </div>
                        <div class="col-md-7 align-right mobile-align">
                            <p class="days mobile-first">Monday - Saturday</p>
                            <p>11:30am - 3:00pm</p>
                            <hr></hr>
                        </div>
                    </div>
                </div>
                <div class="row bg-trans-black">
                    <div class="container menu-list">
                        <div class="col-md-6">
                            <h3 class="first">Appetizers</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Crab Cake</h4>
                                    <p>Pacific NW Crab, Garlic Aioli</p>
                                    <p class="price">15</p>
                                </li>
                                <li>
                                    <h4>Burrata OES</h4>
                                    <p>Fresh Creamy Mozzarella Cheese, Grilled Zucchini, Mushrooms, Capers, EVOO</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Prosciutto</h4>
                                    <p>3 Melon Salad, Endive, Parma Prosciutto</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Eggplant Parmigiana</h4>
                                    <p>Baked Eggplant, Mozzarella Cheese, Tomato Sauce</p>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Fresh Mozzarella Caprese</h4>
                                    <p>Buffalo Mozzarella Cheese, Crispy Eggplant, Vine Tomatoes</p>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Fried Calamari</h4>
                                    <p>Fried Calamari, Zucchini, Spicy Marinara or Aioli Sauce</p>
                                    <p class="price">10</p>
                                </li>
                            </ul>
                            <h3>Salads</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Caesar</h4>
                                    <p>Romaine, Croutons, Shaved Parmesan, Caesar Dressing</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Garden</h4>
                                    <p>Mixed Greens, Carrots, Tomato, Cucumber, Balsamic Dressing</p>
                                    <p class="price">6</p>
                                </li>
                                <li>
                                    <h4>Spinach</h4>
                                    <p>Baby Spinach, Fried Goat Cheese, Walnuts, Blood Orange Vinaigrette</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Tuna</h4>
                                    <p>Nicoise with slow cooked Fresh Tuna, Potatoes, Tomatoes, Greens, Balsamic Dressing </p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>OES Green</h4>
                                    <p>Kale, Chard, Orange, Carrots, Feta Cheese, Raisins, Hazelnuts, Wild Rice</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Chicken</h4>
                                    <p>Waldorf Curry Chicken Salad, Green Apples, Pine Nuts, Raisins</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Rustic</h4>
                                    <p>Mixed Greens, Tomatoes, Potatoes, Cucumber, Red Onions, Balsamic Dressing</p>
                                    <p class="price">8</p>
                                </li>
                            </ul>
                            <h3>Soups</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Vegetables</h4>
                                    <p>Mixed Vegetables, Spelt, Touch of Pesto</p>
                                    <p class="price">(Cup - 6) (Bowl - 8)</p>
                                </li>
                                <li>
                                    <h4>Soup of the Day</h4>
                                    <p>Please ask server</p>
                                    <p class="price">(Cup - 6) (Bowl - 8)</p>
                                </li>
                            </ul>
                            <h3>Carpaccio</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Lobster</h4>
                                    <p>Poached & Lemon Marinated Maine Lobster, Black Tobiko, Mango, Citrus Dressing</p>
                                    <p class="price">18</p>
                                </li>
                                <li>
                                    <h4>Beef</h4>
                                    <p>Raw Beef, Mushrooms, Pecorino Cheese, Truffle Oil Dressing</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Salmon</h4>
                                    <p>Wild Raw Salmon, Capers, Red Onion, Micro Green, Orange Dressing</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Beet</h4>
                                    <p>Sliced very thin with Arugula, Goat Cheese, Walnuut, Balsamic Dressing</p>
                                    <p class="price">9</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="first">Sandwiches</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Lobster Burrito</h4>
                                    <p>Maine Lobster, Romaine Lettuce, Avocado, Pink Sauce, Flour Tortilla</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Eggplant Parmigiana</h4>
                                    <p>Baked Eggplant, Mozzarella Cheese, Tomato Sauce, Ciabatta Bread</p>
                                    <p class="price">11</p>
                                </li>
                                <li>
                                    <h4>Prosciutto</h4>
                                    <p>Parma Ham, Mozzarella Cheese, Tomato, Arugula, Focaccia Bread</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Prime Rib</h4>
                                    <p>Prime Rib, Caramelized Onions, Au Jus, Ciabatta Bread</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Caprese</h4>
                                    <p>Fresh Mozzarella, Tomatoes, Avocado, Basil, Focaccia Bread</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Chicken</h4>
                                    <p>Grilled Chicken, Avocado, Lettuce, Tomato, Tillamook Cheese, Ciabatta Bread</p>
                                    <p class="price">11</p>
                                </li>
                                <li>
                                    <h4>Hamburger</h4>
                                    <p>Kobe Beef Burger, Cheese, Lettuce, Tomato, Onion, Sesame Bun</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Salmon Burger</h4>
                                    <p>Grilled Salmon, Avocado, Romaine, Onion, Dijon Mustard, Sesame Bun</p>
                                    <p class="price">12</p>
                                </li>
                            </ul>
                            <h3>Pasta</h3>
                            <hr></hr>
                            <ul>
                                <!-- <li>
                                    <p class="price small">*In House Fresh Made Pasta</p>
                                    <p class="price small">Gluten free pasta available upon request</p>
                                </li> -->
                                <li>
                                    <h4 class="first">Penne</h4>
                                    <p>Penne Pasta, Spicy Tomato Sauce</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Linguine</h4>
                                    <p>Linguine, Manila Clams, White Wine Garlic Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Spaghetti</h4>
                                    <p>Spaghetti, Small Meat Balls, Eggplant, Mushrooms, Tomato Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Paccheri</h4>
                                    <p>Large Tube Pasta, Maine Lobster, Asparagus, Olives, Cherry Tomato Sauce</p>
                                    <p class="price">2</p>
                                </li>
                                <li>
                                    <h4>*Chitarrucci</h4>
                                    <p>Hand Cut Spaghetti, Tuscan Meat Sauce</p>
                                    <p class="price">11</p>
                                </li>
                                <li>
                                    <h4>*Gnocchi</h4>
                                    <p>Potato Dumplings, Tomato Sauce, Touch of Cream & Pesto</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>*Ravioli</h4>
                                    <p>Veal and Spinach Filled, Mushroom Creamy Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>*Tortelloni</h4>
                                    <p>Ricotta Cheese and Spinach Filled, Butter Sage Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>*Lasagna Bolognese</h4>
                                    <p>Classic Italian Meat Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>*Lasagna Vegetables</h4>
                                    <p>Broccoli & Zucchini, Ricotta Cheese and Bechamel Sauce</p>
                                    <p class="price">13</p>
                                </li>
                            </ul>
                            <h3>Entrees</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4>Salmon</h4>
                                    <p>Wild Salmon, Baby Spinach, Black Olives, Cherry Tomato Sauce</p>
                                    <p class="price">18</p>
                                </li>
                                <li>
                                    <h4>Halibut</h4>
                                    <p>Pan Seared Horseradish Crust, Mashed Potatoes, Fried Leeks, Basil Pesto Sauce</p>
                                    <p class="price">20</p>
                                </li>
                                <li>
                                    <h4>Chicken Milanese</h4>
                                    <p>Breaded Pounded Chicken, Arugula, Cherry Tomatoes</p>
                                    <p class="price">18</p>
                                </li>
                                <li>
                                    <h4>NY Steak</h4>
                                    <p>Sliced Grilled NY Steak, Arugula, Shaved Parmesan Cheese, Rosemary Oil</p>
                                    <p class="price">21</p>
                                </li>
                                <li>
                                    <h4>Chicken Piccata</h4>
                                    <p>Pounded Chicken Breast, Spinach, Potatoes, Capers, White Wine Sauce</p>
                                    <p class="price">16</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="dinnermenu" class="row top-row-space section-title">
                    <div class="container">
                        <div class="col-md-5">
                            <h2>Dinner Menu</h2>
                        </div>
                        <div class="col-md-7 align-right mobile-align">
                            <p class="days mobile-first">Monday - Sunday</p>
                            <p>5:00pm - 10:00pm</p>
                            <hr></hr>
                        </div>
                    </div>
                </div>
                <div class="row bg-trans-black">
                    <div class="container menu-list">
                        <div class="col-md-6">
                            <h3 class="first">Appetizers</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Crab Cake</h4>
                                    <p>Pacific NW Crab, Garlic Aioli</p>
                                    <p class="price">15</p>
                                </li>
                                <li>
                                    <h4>Burrata OES</h4>
                                    <p>Fresh Creamy Mozzarella Cheese, Grilled Zucchini, Mushrooms, Capers, EVOO</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Prosciutto</h4>
                                    <p>3 Melon Salad, Endive, Parma Prosciutto</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Eggplant Parmigiana</h4>
                                    <p>Baked Eggplant, Mozzarella Cheese, Tomato Sauce</p>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Coconut Prawns</h4>
                                    <p>Fried Prawns, Panko Bread and Coconut Crust, Sweet Chili Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Fresh Tuna</h4>
                                    <p>Pan Seared Tuna, White Beans, Crispy Fried Red Onions, Tomato Dressing</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Fresh Mozzarella Caprese</h4>
                                    <p>Buffalo Mozzarella Cheese, Crispy Eggplant, Vine Tomatoes</p>
                                    <p class="price">9</p>
                                </li>
                                <li>
                                    <h4>Fried Calamari & Prawns</h4>
                                    <p>Fried Calamari, Prawns, Zucchini, Spicy Marinara or Aioli Sauce</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Ceviche</h4>
                                    <p>Alaskan Halibut Ceviche, Red Onions, Peruvian Corn, Cilantro, Sweet Potatoes</p>
                                    <p class="price">12</p>
                                </li>
                            </ul>
                            <h3>Salads</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Caesar</h4>
                                    <p>Romaine, Croutons, Shaved Parmesan, Caesar Dressing</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Garden</h4>
                                    <p>Mixed Greens, Carrots, Tomato, Cucumber, Balsamic Dressing</p>
                                    <p class="price">6</p>
                                </li>
                                <li>
                                    <h4>Spinach</h4>
                                    <p>Baby Spinach, Fried Goat Cheese, Walnuts, Blood Orange Vinaigrette</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Tuna</h4>
                                    <p>Nicoise with slow cooked Fresh Tuna, Potatoes, Tomatoes, Greens, Balsamic Dressing </p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Lobster</h4>
                                    <p>Maine Lobster, Zucchini, Pumpkin, Tomato, Bell Peppers, Lemon Tarragon Vinaigrette</p>
                                    <p class="price">18</p>
                                </li>
                                <li>
                                    <h4>OES Green</h4>
                                    <p>Kale, Chard, Orange, Carrots, Feta Cheese, Raisins, Hazelnuts, Wild Rice</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Chicken</h4>
                                    <p>Waldorf Curry Chicken Salad, Green Apples, Pine Nuts, Raisins</p>
                                    <p class="price">12</p>
                                </li>
                            </ul>
                            <h3>Soups</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Vegetables</h4>
                                    <p>Mixed Vegetables, Spelt, Touch of Pesto</p>
                                    <p class="price">(Cup - 6) (Bowl - 8)</p>
                                </li>
                                <li>
                                    <h4>Soup of the Day</h4>
                                    <p>Please ask server</p>
                                    <p class="price">(Cup - 6) (Bowl - 8)</p>
                                </li>
                            </ul>
                            <h3>Carpaccio</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Lobster</h4>
                                    <p>Poached & Lemon Marinated Maine Lobster, Black Tobiko, Mango, Citrus Dressing</p>
                                    <p class="price">18</p>
                                </li>
                                <li>
                                    <h4>Beef</h4>
                                    <p>Raw Beef, Mushrooms, Pecorino Cheese, Truffle Oil Dressing</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Salmon</h4>
                                    <p>Wild Raw Salmon, Capers, Red Onion, Micro Green, Orange Dressing</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Beet</h4>
                                    <p>Sliced very thin with Arugula, Goat Cheese, Walnuut, Balsamic Dressing</p>
                                    <p class="price">9</p>
                                </li>
                            </ul>
                            <h3>The Original Fettuccine Alfredo</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">*Classic</h4>
                                    <p>Butter & Parmesan Cheese Sauce</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>*Salmon</h4>
                                    <p>Salmon, Vodka, Butter & Parmesan, Pink Sauce</p>
                                    <p class="price">15</p>
                                </li>
                                <li>
                                    <h4>*Chicken</h4>
                                    <p>Chicken, Butter & Parmesan Cheese Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>*Black Truffle</h4>
                                    <p>Black Summer Truffle, Butter & Paremsan Cheese Sauce, Truffle Oil</p>
                                    <p class="price">18</p>
                                </li>
                            </ul>
                            <h3>From Our Grill</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <!-- <li>
                                    <p class="price small">Served with Vegetables of the Day and choice of:</p>
                                    <p class="price small"><strong>Potatoes</strong> - Roasted, Mashed, Gratin, or French Fries</p>
                                    <p class="price small"><strong>Sauce</strong> - Chimichurri, Peppercorn, Garlic & Herbs, or Creamy Horseradish</p>
                                </li> -->
                                <li>
                                    <h4 class="first">Filet Mignon</h4>
                                    <p class="price">(6 oz. - 28) (10 oz. - 32)</p>
                                </li>
                                <li>
                                    <h4>NY Steak</h4>
                                    <p class="price">(12 oz. - 28)</p>
                                </li>
                                <li>
                                    <h4>Ribeye on the Bone</h4>
                                    <p class="price">(16 oz. - 34)</p>
                                </li>
                                <li>
                                    <h4>Veal Chop</h4>
                                    <p class="price">(14 oz. - 34)</p>
                                </li>
                                <li>
                                    <h4>Salmon</h4>
                                    <p class="price">(7 oz. - 28)</p>
                                </li>
                                <li>
                                    <h4>Tuna</h4>
                                    <p class="price">(7 oz. - 27)</p>
                                </li>
                                <li>
                                    <h4>Halibut</h4>
                                    <p class="price">(7 oz. - 29)</p>
                                </li>
                                <li>
                                    <h4>Sides:</h4>
                                    <p>Mashed Potatoes, Bok Choy, Sauteed Chard, Grilled Asparagus, Roasted Potatoes, Sauteed Spinach, French Fries, Potato Gratin</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="first">Sandwiches</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Lobster Burrito</h4>
                                    <p>Maine Lobster, Romaine Lettuce, Avocado, Pink Sauce, Flour Tortilla</p>
                                    <p class="price">14</p>
                                </li>
                                <li>
                                    <h4>Eggplant Parmigiana</h4>
                                    <p>Baked Eggplant, Mozzarella Cheese, Tomato Sauce, Ciabatta Bread</p>
                                    <p class="price">11</p>
                                </li>
                                <li>
                                    <h4>Prosciutto</h4>
                                    <p>Parma Ham, Mozzarella Cheese, Tomato, Arugula, Focaccia Bread</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Prime Rib</h4>
                                    <p>Prime Rib, Caramelized Onions, Au Jus, Ciabatta Bread</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Caprese</h4>
                                    <p>Fresh Mozzarella, Tomatoes, Avocado, Basil, Focaccia Bread</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Chicken</h4>
                                    <p>Grilled Chicken, Avocado, Lettuce, Tomato, Tillamook Cheese, Ciabatta Bread</p>
                                    <p class="price">11</p>
                                </li>
                                <li>
                                    <h4>Hamburger</h4>
                                    <p>Kobe Beef Burger, Cheese, Lettuce, Tomato, Onion, Sesame Bun</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Salmon Burger</h4>
                                    <p>Grilled Salmon, Avocado, Romaine, Onion, Dijon Mustard, Sesame Bun</p>
                                    <p class="price">12</p>
                                </li>
                            </ul>
                            <h3>Pasta</h3>
                            <hr></hr>
                            <ul>
                               <!-- <li>
                                    <p class="price small">*In House Fresh Made Pasta</p>
                                    <p class="price small">Gluten free pasta available upon request</p>
                                </li> -->
                                <li>
                                    <h4 class="first">Penne</h4>
                                    <p>Penne Pasta, Spicy Tomato Sauce</p>
                                    <p class="price">10</p>
                                </li>
                                <li>
                                    <h4>Linguine</h4>
                                    <p>Linguine, Manila Clams, White Wine Garlic Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>Spaghetti</h4>
                                    <p>Spaghetti, Small Meat Balls, Eggplant, Mushrooms, Tomato Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Paccheri</h4>
                                    <p>Large Tube Pasta, Maine Lobster, Asparagus, Olives, Cherry Tomato Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>Risotto</h4>
                                    <p>Italian Carnaroli Rice, Saffron and Wild Mushrooms</p>
                                    <p class="price">15</p>
                                </li>
                                <li>
                                    <h4>*Chitarrucci</h4>
                                    <p>Hand Cut Spaghetti, Tuscan Meat Sauce</p>
                                    <p class="price">11</p>
                                </li>
                                <li>
                                    <h4>*Pappardelle</h4>
                                    <p>Large Flat Homemade Pasta, Mozzarella Cheese, Tomato Sauce, Touch of Cream</p>
                                    <p class="price">15</p>
                                </li>
                                <li>
                                    <h4>*Gnocchi</h4>
                                    <p>Potato Dumplings, Tomato Sauce, Touch of Cream & Pesto</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>*Ravioli</h4>
                                    <p>Veal and Spinach Filled, Mushroom Creamy Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>*Tortelloni</h4>
                                    <p>Ricotta Cheese and Spinach Filled, Butter Sage Sauce</p>
                                    <p class="price">12</p>
                                </li>
                                <li>
                                    <h4>*Lasagna Bolognese</h4>
                                    <p>Classic Italian Meat Sauce</p>
                                    <p class="price">13</p>
                                </li>
                                <li>
                                    <h4>*Lasagna Vegetables</h4>
                                    <p>Broccoli & Zucchini, Ricotta Cheese and Bechamel Sauce</p>
                                    <p class="price">13</p>
                                </li>
                            </ul>
                            <h3>Entrees</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Salmon</h4>
                                    <p>Wild Salmon, Baby Spinach, Black Olives, Cherry Tomato Sauce</p>
                                    <p class="price">18</p>
                                </li>
                                <li>
                                    <h4>Halibut</h4>
                                    <p>Pan Seared Horseradish Crust, Mashed Potatoes, Fried Leeks, Basil Pesto Sauce</p>
                                    <p class="price">20</p>
                                </li>
                                <li>
                                    <h4>Scallops</h4>
                                    <p>Pan Seared Scallops, Stewed Reg Cabbage, Potato Gratin, Saffron Sauce</p>
                                    <p class="price">28</p>
                                </li>
                                <li>
                                    <h4>Tuna</h4>
                                    <p>Seared Ahi Tuna Grade, Balsamic Reduction, Bok Choy, Roasted Tomato</p>
                                    <p class="price">27</p>
                                </li>
                                <li>
                                    <h4>Chicken Piccata</h4>
                                    <p>Pounded Chicken, Spinach, Fingerling Potatoes, Capers, Lemon White Wine Sauce</p>
                                    <p class="price">24</p>
                                </li>
                                <li>
                                    <h4>Lamb Chops</h4>
                                    <p>Saute Rapini, Roasted Shallots, Fingerling Potatoes, Figs and Porto Sauce</p>
                                    <p class="price">30</p>
                                </li>
                                <li>
                                    <h4>Veal Milanese</h4>
                                    <p>Breaded Pounded Veal Chop topped by Arugula & Cherry Tomatoes</p>
                                    <p class="price">34</p>
                                </li>
                                <li>
                                    <h4>Ossobuco</h4>
                                    <p>Braised Veal Shank over Milanese Saffron Risotto</p>
                                    <p class="price">34</p>
                                </li>
                                <li>
                                    <h4>Chicken Roll</h4>
                                    <p>Pounded Chicken Breast, Asparagus and Fontina Cheese Filled, White Wine Sauce</p>
                                    <p class="price">24</p>
                                </li>
                                <li>
                                    <h4>Veal Scalloppini</h4>
                                    <p>Wild mushrooms, Green Peas, Marsala Wine Sauce</p>
                                    <p class="price">27</p>
                                </li>
                                <li>
                                    <h4>Pork Chop</h4>
                                    <p>Double Bone Pork Chop, Chard, Mashed Potatoes, Peppercorn Sauce</p>
                                    <p class="price">34</p>
                                </li>
                                <li>
                                    <h4>Porter House 32 oz. (for 2)</h4>
                                    <p>Grilled, Herb Butter, Roasted Potatoes, Baked Tomatoes</p>
                                    <p class="price">70</p>
                                </li>
                                <li>
                                    <h4>Prime Rib OES</h4>
                                    <p>Prime Rib Slowly Cooked, Vegetables, Mashed Potatoes, Creamy Horseradish, Au Jus</p>
                                    <p class="price">(8 oz. - 28) (12 oz. - 31) (16 oz. - 36)</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="dessertmenu" class="row top-row-space section-title">
                    <div class="container">
                        <div class="col-md-6">
                            <h2>Dessert Menu</h2>
                        </div>
                        <div class="col-md-6 align-right mobile-align">
                            <p class="days mobile-first">Monday - Sunday</p>
                            <p>11:30am - close</p>
                            <hr class="dessert"></hr>
                        </div>
                    </div>
                </div>
                <div class="row bg-trans-black last-down">
                    <div class="container menu-list">
                        <div class="col-md-6">
                            <h3 class="first">Desserts</h3>
                            <hr></hr>
                            <ul class="middle-padder">
                                <li>
                                    <h4 class="first">Fruit Cobbler</h4>
                                    <p>Baked Seasonal Fruits, Oak Butter & Sugar, Vanilla Ice Cream</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Tiramisu in the Glass</h4>
                                    <p>Lady Finger and Amaretto Cookie, Espresso, Mascarpone Cream</p>
                                    <p class="price">8</p>
                                </li>
                                <li>
                                    <h4>Creme Brulee</h4>
                                    <p>Vanilla Custard, Brown Sugar Crust</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Warm Apple Tart</h4>
                                    <p>Caramelized Apples in a Tart Shell, Hazelnut Ice Cream</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Two Sauces Panna Cotta</h4>
                                    <p>Vanilla Flan, Strawberries, Mango Sauce</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Semifreddo</h4>
                                    <p>Semi-frozen Coffee Mousse, Caramel Ice Cream</p>
                                    <p class="price">7</p>
                                </li>
                                <li>
                                    <h4>Chocolate Souffle</h4>
                                    <p>Warm Chocolate Cake and Fresh Whipped Cream</p>
                                    <p class="price">8</p>
                                </li>
                                <li>
                                    <h4>Strawberry Soup</h4>
                                    <p>Fresh Strawberry Float with shaved White and Dark Chocolate</p>
                                    <p class="price">7</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h3 class="first">Ice Cream</h3>
                            <hr></hr>
                            <ul>
                                <li>
                                    <h4 class="first">Ice Cream</h4>
                                    <p>Chocolate, Vanilla, Hazelnut, Dulce de Leche (caramel)</p>
                                    <p class="price">6</p>
                                </li>
                                <li>
                                    <h4>Sorbets</h4>
                                    <p>Lemon, Strawberry, Mango</p>
                                    <p class="price">6</p>
                                </li>
                                <li>
                                    <h4>Ice Cream Sundae</h4>
                                    <p>Vanilla Ice Cream with Chocolate Sauce, Nuts, Strawberries</p>
                                    <p class="price">8</p>
                                </li>
                                <li>
                                    <h4>Affogato</h4>
                                    <p>Vanilla Ice Cream with Espresso Shot</p>
                                    <p class="price">8</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script src="js/oes.js"></script>
    </body>
</html>