{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <div class="static-bg reservations-bg">
        </div>
    </div>
    <div class="canvas-wrap">
        <div class="row fixed-top std-header">
            <div class="container pos-rel">
                <div class="home-wrecka main">
                    <a href="/index"></a>
                </div>
                <ul class="header">
                    <li><a class="1" href="/about">About</a></li>
                    <li><a class="2" href="/menu">Menus</a></li>
                    <li><a class="3" href="/events">Events</a></li>
                    <li><a class="4" href="/reservations">Reservations</a></li>
                    <li><a class="5" href="/giftcards">Gift Cards</a></li>
                    <li><a class="6" href="/gallery" class="selected">Gallery</a></li>
                    <li><a class="7" href="/contact">Contact</a></li>
                    <li><a class="facebook" href="https://www.facebook.com/OregonElectricStation"></a></li>
                    <!-- <li><a class="instagram" href="#"></a></li> -->
                </ul>
            </div>
        </div>
        <div id="about" class="to-front">
            <div class="row top-row-space section-title first">
                <div class="container">
                    <div class="col-md-6">
                        <h2 class="about-bump ressy">Reservations</h2>
                    </div>
                    <div class="col-md-6">
                        <hr class="ressy"></hr>
                    </div>
                </div>
            </div>
            <div class="row bg-trans-black spacer-bot mobile-bottom">
                <div class="container menu-list">
                    <div class="col-md-9">
                        <h3 class="first norm no-top-space">Please read all steps before making a reservation…</h3>
                        <hr></hr>
                        <ul>
                            <li class="rp-50 bp-20">
                                <p class="about first">Step 1: Enter Reservation Details into the OpenTable Widget below: Day, Time, and # of People.</p>
                                <p class="about res-steps">Step 2: Select Between Available Reservation Times.</p>
                                <p class="about res-steps">Step 3: Enter Name, Phone Number, Email and check “Yes, I want to receive email messages.”</p>
                                <p class="about res-steps">Step 4: Click on “Complete Free Reservation” button.</p>
                                <p class="about res-steps">(Note: If you already have an OpenTable account, click "Sign in" after Step 1)</p>
                            </li>
                            <li class="rp-50">
                                <p class="init-res">To begin, fill out this OpenTable Widget then click "Find a Table" to proceed to Step 2.</p>
                            </li>
                        </ul>
                        <div class="col-md-3">
                            <script type="text/javascript" src="https://secure.opentable.com/frontdoor/default.aspx?rid=148456&restref=148456&bgcolor=000000&titlecolor=ffffff&subtitlecolor=E0B252&btnbgimage=https://secure.opentable.com/frontdoor/img/ot_btn_black.png&otlink=FFFFFF&icon=light&mode=short"></script><a href="http://www.opentable.com/oregon-electric-station-reservations-eugene?rtype=ism&restref=148456" class="OT_ExtLink">Oregon Electric Station (148456), Portland / Oregon Reservations</a>
                        </div>
                        <div class="col-md-7 giftcard-media res">
                            <img class="mh" src="../static/images/oes-sacajawea.jpg" />
                        </div>
                    </div>
                    <div class="col-md-3 giftcard-media res">
                        <img src="../static/images/OES6.jpg" />
                        <img src="../static/images/OES20.jpg" />
                        <img src="../static/images/OES18.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".header li a").removeClass("selected");
        $(".header li a.4").addClass("selected");
    </script>
{% endblock %}