<!DOCTYPE html>
<head>
	<title>rest api</title>
</head>
<body>
 <div id="menu" class="to-front">
                <script type="text/javascript" src="http://menus.singleplatform.co/jsload?load=menus.2&apiKey=ke09z8icq4xu8uiiccighy1bw"></script>
                <script>
                    var menuApi = new MenusApi("ke09z8icq4xu8uiiccighy1bw");
                    menuApi.setBaseFontSize("10pt");
                    menuApi.setPrimaryFontFamily("Arial");
                    // menuApi.setPrimaryBackgroundColor("#fff");
                    // menuApi.setSecondaryBackgroundColor("#fff");
                    // menuApi.setMenuDescBackgroundColor("#fff");
                    // menuApi.setSectionTitleBackgroundColor("#fff");
                    // menuApi.setSectionDescBackgroundColor("#fff");
                    // menuApi.setItemBackgroundColor("#000");
                    // menuApi.setFeedbackBackgroundColor("#fff");
                    // menuApi.setSectionTitleBackgroundColor("#fff");
                    menuApi.setSectionTitleFontColor("blue");
                    menuApi.loadMenusForLocation("oregon-electric-station", "menu");
                </script>
            </div>
</body>
</html>